@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Noto+Sans:wght@400;700&family=Open+Sans:wght@400;700&family=Source+Serif+4:wght@400;700&display=swap');

:root {
    --primary-color: #075E54;
    --secondary-text-color: rgba(58, 58, 58, 0.808);
}

.comp-main-container {
    display: flex;
}

.navbar {
    padding: 0 2rem 0 2rem;
    width: 20vw;
    /* margin-right: 2rem;
    margin-left: 2rem; */
    /* margin-top: 12rem; */
    padding: 2rem;
    position: fixed;
    top: 4rem;
    left: 0;
}

.navbar > p {
    font-size: 1.2em;
    margin: 10px 2px 6px 2px;
}

.navbar > h3 {
    color: var(--secondary-text-color);
    margin-top: 10px;
}

a {
    color: var(--secondary-text-color);
    text-decoration: none;
}

.nav-list > li {
    list-style: none;
    font-size: 1.2em;
    margin: 6px 2px;
    padding: 4px;
}

.main-content {
    margin-left: 18rem;
    margin-top: 6rem;
    width: 70vw;
    /* top: 10rem;  */
}

.main-content > h1 {
    font-weight: bold;
    color: var(--primary-color);
}

.main-description {
    font-size: 1.2em;
    margin: 1rem 0;
}

.comp-heading {
    margin-top: 1rem;
    font-size: 2em;
}

span {
    color: var(--primary-color);
    font-weight: bold;
}

.code-snippet {
    margin-top: 2rem;
    width: 100%;
    border: none;
}