<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="image.css">
    <title>Image</title>
</head>

<body>
    <header class="header fixed-header">
        <div class="header-left-icons">
            <p class="header-heading">AMAZE-UI</p>
        </div>
        <div class="header-right-icons">
            <a href="/GetStarted/intro.html" class="link">Documentation</a>
        </div>
    </header>

    <div class="comp-main-container">
        <nav class="navbar">
            <p><a href="/index.html">Home</a></p>
            <h3>Components</h3>
            <ul class="nav-list">
                <li class="nav-links"><a href="../Avatar/avatar.html">Avatar</a></li>
                <li class="nav-links"><a href="../Alert/alert.html">Alert</a></li>
                <li class="nav-links"><a href="../Badge/badge.html">Badge</a></li>
                <li class="nav-links"><a href="../Button/button.html">Button</a></li>
                <li class="nav-links"><a href="../Card/card.html">Card</a></li>
                <li class="nav-links"><a href="#" class="active-link">Image</a></li>
                <li class="nav-links"><a href="../Input/input.html">Input</a></li>
                <li class="nav-links"><a href="../List/list.html">List</a></li>
                <li class="nav-links"><a href="../Navigation/navigation.html">Navigation</a></li>
                <li class="nav-links"><a href="../Toast/toast.html">Toast</a></li>
                <li class="nav-links"><a href="../TextUtilities/textutilities.html">Text Utilities</a></li>
                <li class="nav-links"><a href="../Grid/grid.html">Grid</a></li>
                <li class="nav-links"><a href="../Modal/modal.html">Modal</a></li>
                <li class="nav-links"><a href="../Slider/slider.html">Slider</a></li>
            </ul>
        </nav>
        <main class="main-content">
            <h1>Images</h1>
            <hr>
            <p class="main-description">Images are used to showcase the external form of anything be it person or
                anything else.
            </p>
            <p class="main-description"><span>Amaze-UI</span> has different kinds of images.</p>
            <div class="comp-container">
                <h2 class="comp-heading">Responsive image</h2>
                <p class="comp-description">Use the "img-res" to the <span>img</span> tag image will grow to the parent container width.</p>
                <div class="img-container">
                    <img src="/images/avatar-2.jpg" class="img-res">
                </div>
                <iframe class="code-snippet"
  src="https://carbon.now.sh/embed?bg=rgba%287%2C94%2C84%2C1%29&t=night-owl&wt=none&l=htmlmixed&width=617&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=14px&lh=171%25&si=false&es=2x&wm=false&code=%253Cdiv%2520class%253D%2522comp-container%2522%253E%250A%2520%2520%2520%253Ch2%2520class%253D%2522comp-heading%2522%253EResponsive%2520image%253C%252Fh2%253E%250A%2520%2520%2520%2520%2520%253Cdiv%2520class%253D%2522img-container%2522%253E%250A%2520%2520%2520%2520%2520%2520%2520%2520%253Cimg%2520src%253D%2522%252Fimages%252Favatar-2.jpg%2522%2520class%253D%2522img-res%2522%253E%250A%2520%2520%2520%2520%2520%253C%252Fdiv%253E%250A%253C%252Fdiv%253E"
  
  sandbox="allow-scripts allow-same-origin">
</iframe>
            </div>

            <div class="comp-container">
                <h2 class="comp-heading">Rounded image</h2>
                <p class="comp-description">Use "rounded-img" class in <span>img</span> tag the image will take circular shape with width of parent container.Look into code snippet for reference.</p>
                <div class="img-container">
                    <img src="/images/avatar-2.jpg" class="img-res rounded-img">
                </div>
                <iframe class="code-snippet"
  src="https://carbon.now.sh/embed?bg=rgba%287%2C94%2C84%2C1%29&t=night-owl&wt=none&l=htmlmixed&width=617&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=14px&lh=171%25&si=false&es=2x&wm=false&code=%253Cdiv%2520class%253D%2522comp-container%2522%253E%250A%2520%2520%2520%253Ch2%2520class%253D%2522comp-heading%2522%253EResponsive%2520image%253C%252Fh2%253E%250A%2520%2520%2520%2520%2520%253Cdiv%2520class%253D%2522img-container%2522%253E%250A%2520%2520%2520%2520%2520%2520%2520%2520%253Cimg%2520src%253D%2522%252Fimages%252Favatar-2.jpg%2522%2520class%253D%2522img-res%2520rounded-img%2522%253E%250A%2520%2520%2520%2520%2520%253C%252Fdiv%253E%250A%253C%252Fdiv%253E"
  sandbox="allow-scripts allow-same-origin">
</iframe>
            </div>
        </main>
    </div>
</body>

</html>