<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="toast.css">
    <title>Toast</title>
</head>

<body>
    <header class="header fixed-header">
        <div class="header-left-icons">
            <p class="header-heading">AMAZE-UI</p>
        </div>
        <div class="header-right-icons">
            <a href="/GetStarted/intro.html" class="link">Documentation</a>
        </div>
    </header>
    <div class="comp-main-container">
        <nav class="navbar">
            <p><a href="/index.html">Home</a></p>
            <h3>Components</h3>
            <ul class="nav-list">
                <li class="nav-links"><a href="../Avatar/avatar.html">Avatar</a></li>
                <li class="nav-links"><a href="../Alert/alert.html">Alert</a></li>
                <li class="nav-links"><a href="../Badge/badge.html">Badge</a></li>
                <li class="nav-links"><a href="../Button/button.html">Button</a></li>
                <li class="nav-links"><a href="../Card/card.html">Card</a></li>
                <li class="nav-links"><a href="../Image/image.html">Image</a></li>
                <li class="nav-links"><a href="../Input/input.html">Input</a></li>
                <li class="nav-links"><a href="../List/list.html">List</a></li>
                <li class="nav-links"><a href="../Navigation/navigation.html">Navigation</a></li>
                <li class="nav-links"><a href="#">Toast</a></li>
            </ul>
        </nav>
        <main class="main-content">
            <h1>Toast</h1>
            <hr>
            <p class="main-description">Toast are used to show some feeback or action message to the user.
            </p>
            <p class="main-description"><span>Amaze-UI</span> has different kinds of toasts.</p>
            <div class="comp-container">
                <h2 class="comp-heading">Baseline Toast</h2>
                <p class="comp-description">There are two kinds of toast.Use the below code reference to know how to use.</p>
                <div class="snackbar-container">
                    <div class="snackbar-text">
                    <p>Can't send photos. Retry in 5 seconds.</p>
                    </div>
                    <div class="snackbar-btn-container">
                    <button class="snackbar-btn">RETRY</button>
                    <span>X</span>
                    </div>
                </div>
                <iframe class="code-snippet"
  src="https://carbon.now.sh/embed?bg=rgba%287%2C94%2C84%2C1%29&t=night-owl&wt=none&l=htmlmixed&width=617&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=14px&lh=171%25&si=false&es=2x&wm=false&code=%253Cdiv%2520class%253D%2522snackbar-container%2522%253E%250A%2520%2520%2520%2520%253Cdiv%2520class%253D%2522snackbar-text%2522%253E%250A%2520%2520%2520%2520%253Cp%253ECan%27t%2520send%2520photos.%2520Retry%2520in%25205%2520seconds.%253C%252Fp%253E%250A%2520%2520%2520%2520%253C%252Fdiv%253E%250A%2520%2520%2520%2520%253Cdiv%2520class%253D%2522snackbar-btn-container%2522%253E%250A%2520%2520%2520%2520%253Cbutton%2520class%253D%2522snackbar-btn%2522%253ERETRY%253C%252Fbutton%253E%250A%2520%2520%2520%2520%253Cspan%253EX%253C%252Fspan%253E%250A%2520%2520%2520%2520%253C%252Fdiv%253E%250A%253C%252Fdiv%253E"
  sandbox="allow-scripts allow-same-origin">
</iframe>
            </div>
            <div class="comp-container">
                <h2 class="comp-heading">Stacked Toast</h2>
                <p class="comp-description">There are two kinds of toast.Use the below code reference to know how to use.</p>
                <div class="snackbar-container stacked">
                    <div class="snackbar-text">
                    <p>Can't send photos. Retry in 5 seconds. Add something once</p>
                    </div>
                    <div class="snackbar-btn-container stacked-btn">
                    <button class="snackbar-btn">RETRY</button>
                    <span>X</span>
                    </div>
                </div>
                <iframe class="code-snippet"
  src="https://carbon.now.sh/embed?bg=rgba%287%2C94%2C84%2C1%29&t=night-owl&wt=none&l=htmlmixed&width=617&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=14px&lh=171%25&si=false&es=2x&wm=false&code=%253Cdiv%2520class%253D%2522snackbar-container%2520stacked%2522%253E%250A%2520%2520%2520%2520%253Cdiv%2520class%253D%2522snackbar-text%2522%253E%250A%2520%2520%2520%2520%253Cp%253ECan%27t%2520send%2520photos.%2520Retry%2520in%25205%2520seconds.%2520Add%2520something%2520once%253C%252Fp%253E%250A%2520%2520%2520%2520%253C%252Fdiv%253E%250A%2520%2520%2520%2520%253Cdiv%2520class%253D%2522snackbar-btn-container%2520stacked-btn%2522%253E%250A%2520%2520%2520%2520%253Cbutton%2520class%253D%2522snackbar-btn%2522%253ERETRY%253C%252Fbutton%253E%250A%2520%2520%2520%2520%253Cspan%253EX%253C%252Fspan%253E%250A%2520%2520%2520%2520%253C%252Fdiv%253E%250A%253C%252Fdiv%253E"
  sandbox="allow-scripts allow-same-origin">
</iframe>
            </div>
        </main>
    </div>
</body>

</html>