<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="textutilities.css">
    <title>TextUtilities</title>
</head>

<body>
    <header class="header fixed-header">
        <div class="header-left-icons">
            <p class="header-heading">AMAZE-UI</p>
        </div>
        <div class="header-right-icons">
            <a href="../../GetStarted/intro.html" class="link">Documentation</a>
        </div>
    </header>
    <div class="comp-main-container">
        <nav class="navbar">
            <p><a href="/index.html">Home</a></p>
            <h3>Components</h3>
            <ul class="nav-list">
                <li class="nav-links"><a href="../Avatar/avatar.html">Avatar</a></li>
                <li class="nav-links"><a href="../Alert/alert.html">Alert</a></li>
                <li class="nav-links"><a href="../Badge/badge.html">Badge</a></li>
                <li class="nav-links"><a href="../Button/button.html">Button</a></li>
                <li class="nav-links"><a href="../Card/card.html">Card</a></li>
                <li class="nav-links"><a href="../Image/image.html">Image</a></li>
                <li class="nav-links"><a href="../Input/input.html">Input</a></li>
                <li class="nav-links"><a href="../List/list.html">List</a></li>
                <li class="nav-links"><a href="../Navigation/navigation.html">Navigation</a></li>
                <li class="nav-links"><a href="../Toast/toast.html">Toast</a></li>
                <li class="nav-links"><a href="#" class="active-link">Text Utilities</a></li>
                <li class="nav-links"><a href="../Grid/grid.html">Grid</a></li>
                <li class="nav-links"><a href="../Modal/modal.html">Modal</a></li>
                <li class="nav-links"><a href="../Slider/slider.html">Slider</a></li>
            </ul>
        </nav>
        <main class="main-content">
            <h1>Text Utilities</h1>
            <hr>
            <p class="main-description">Text utilities are used to make the written language more readable.
            </p>
            <p class="main-description"><span>Amaze-UI</span> has different kinds of text-utilities.</p>
            <div class="comp-container">
                <h2 class="comp-heading">Headings</h2>
                <p class="comp-description">Headings range from H1 to H6.</p>
                <div class="textutil-container">
                    <h1 class="heading">H1-Text</h1>
                    <h2 class="heading">H2-Text</h2>
                    <h3 class="heading">H3-Text</h3>
                    <h4 class="heading">H4-Text</h4>
                    <h5 class="heading">H5-Text</h5>
                    <h6 class="heading">H6-Text</h6>
                </div>
                <iframe class="code-snippet"
                    src="https://carbon.now.sh/embed?bg=rgba%287%2C94%2C84%2C1%29&t=night-owl&wt=none&l=htmlmixed&width=438&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=14px&lh=171%25&si=false&es=2x&wm=false&code=%253Ch1%2520class%253D%2522heading%2522%253EH1-Text%253C%252Fh1%253E%250A%253Ch2%2520class%253D%2522heading%2522%253EH2-Text%253C%252Fh2%253E%250A%253Ch3%2520class%253D%2522heading%2522%253EH3-Text%253C%252Fh3%253E%250A%253Ch4%2520class%253D%2522heading%2522%253EH4-Text%253C%252Fh4%253E%250A%253Ch5%2520class%253D%2522heading%2522%253EH5-Text%253C%252Fh5%253E%250A%253Ch6%2520class%253D%2522heading%2522%253EH6-Text%253C%252Fh6%253E"
                    sandbox="allow-scripts allow-same-origin">
                </iframe>
            </div>
            <div class="comp-container">
                <h2 class="comp-heading">Small Text</h2>
                <p class="comp-description">Small text are usually small from normal text.</p>
                <div class="textutil-container">
                    <small class="small-text">I am a small text</small>
                    <small class="small-text">I am a small text</small>
                </div>
                <iframe class="code-snippet"
                    src="https://carbon.now.sh/embed?bg=rgba%287%2C94%2C84%2C1%29&t=night-owl&wt=none&l=htmlmixed&width=438&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=14px&lh=171%25&si=false&es=2x&wm=false&code=%253Csmall%2520class%253D%2522small-text%2522%253EI%2520am%2520a%2520small%2520text%253C%252Fsmall%253E"
                    sandbox="allow-scripts allow-same-origin">
                </iframe>
            </div>
            <div class="comp-container">
                <h2 class="comp-heading">Grey Text</h2>
                <p class="comp-description">Grey text are grey in color.</p>
                <div class="textutil-container">
                    <p class="grey-text">I am a grey text</p>
                    <p class="grey-text">I am a grey text</p>
                </div>
                <iframe class="code-snippet"
                    src="https://carbon.now.sh/embed?bg=rgba%287%2C94%2C84%2C1%29&t=night-owl&wt=none&l=htmlmixed&width=438&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=14px&lh=171%25&si=false&es=2x&wm=false&code=%253Cp%2520class%253D%2522grey-text%2522%253EI%2520am%2520a%2520grey%2520text%253C%252Fp%253E"
                    sandbox="allow-scripts allow-same-origin">
                </iframe>
            </div>

            <div class="comp-container">
                <h2 class="comp-heading">Centered Text</h2>
                <p class="comp-description">Centered text are aligned at the center.</p>
                <div class="textutil-container">
                    <p class="centered-text">I am a centered text</p>
                    <p class="centered-text">I am a centered text</p>
                </div>
                <iframe class="code-snippet"
                    src="https://carbon.now.sh/embed?bg=rgba%287%2C94%2C84%2C1%29&t=night-owl&wt=none&l=htmlmixed&width=438&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=14px&lh=171%25&si=false&es=2x&wm=false&code=%253Cp%2520class%253D%2522centered-text%2522%253EI%2520am%2520a%2520centered%2520text%253C%252Fp%253E"
                    sandbox="allow-scripts allow-same-origin">
                </iframe>
            </div>
        </main>
    </div>
</body>

</html>