<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="alert.css">
    <title>Alert</title>
</head>

<body>
    <header class="header fixed-header">
        <div class="header-left-icons">
            <p class="header-heading">AMAZE-UI</p>
        </div>
        <div class="header-right-icons">
            <a href="/GetStarted/intro.html" class="link">Documentation</a>
        </div>
    </header>
    <div class="comp-main-container">
        <nav class="navbar">
            <p><a href="/index.html">Home</a></p>
            <h3>Components</h3>
            <ul class="nav-list">
                <li class="nav-links"><a href="../Avatar/avatar.html">Avatar</a></li>
                <li class="nav-links"><a href="#" class="active-link">Alert</a></li>
                <li class="nav-links"><a href="../Badge/badge.html">Badge</a></li>
                <li class="nav-links"><a href="../Button/button.html">Button</a></li>
                <li class="nav-links"><a href="../Card/card.html">Card</a></li>
                <li class="nav-links"><a href="../Image/image.html">Image</a></li>
                <li class="nav-links"><a href="../Input/input.html">Input</a></li>
                <li class="nav-links"><a href="../List/list.html">List</a></li>
                <li class="nav-links"><a href="../Navigation/navigation.html">Navigation</a></li>
                <li class="nav-links"><a href="../Toast/toast.html">Toast</a></li>
                <li class="nav-links"><a href="../TextUtilities/textutilities.html">Text Utilities</a></li>
                <li class="nav-links"><a href="../Grid/grid.html">Grid</a></li>
                <li class="nav-links"><a href="../Modal/modal.html">Modal</a></li>
                <li class="nav-links"><a href="../Slider/slider.html">Slider</a></li>
                <li class="nav-links"><a href="../Rating/rating.html">Rating</a></li>
            </ul>
        </nav>
        <main class="main-content">
            <h1>Alert</h1>
            <hr>
            <p class="main-description">Alerts are used to gain the user attraction for some important piece of
                information without interrupting user flow.</p>
            <p class="main-description"><span>Amaze-UI</span> has different kinds of alerts.</p>
            <div class="comp-container">
                <h2 class="comp-heading">Standard Alerts</h2>
                <p class="comp-description">Standard alert has four variants <span>alert-success</span> ,
                    <span>alert-warning</span> ,
                    <span>alert-danger</span> ,
                    <span>alert-info</span>.You need to use class as "alert" & the corresponding variant of it as shown
                    in example
                </p>
                <div class="alert-container">
                    <div class="alert alert-success">A simple success alert.!!</div>
                    <div class="alert alert-warning">A simple warning alert.!!</div>
                    <div class="alert alert-danger">A simple danger alert.!!</div>
                    <div class="alert alert-info">A simple info alert.!!</div>
                    <iframe class="code-snippet"
                        src="https://carbon.now.sh/embed?bg=rgba%287%2C94%2C84%2C1%29&t=night-owl&wt=none&l=htmlmixed&width=617&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=false&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=14px&lh=171%25&si=false&es=2x&wm=false&code=%253Cdiv%2520class%253D%2522alert-container%2522%253E%250A%2520%2520%253Cdiv%2520class%253D%2522alert%2520alert-success%2522%253EA%2520simple%2520success%2520alert.%21%21%253C%252Fdiv%253E%250A%2520%2520%253Cdiv%2520class%253D%2522alert%2520alert-warning%2522%253EA%2520simple%2520warning%2520alert.%21%21%253C%252Fdiv%253E%250A%2520%2520%253Cdiv%2520class%253D%2522alert%2520alert-danger%2522%253EA%2520simple%2520danger%2520alert.%21%21%253C%252Fdiv%253E%250A%2520%2520%253Cdiv%2520class%253D%2522alert%2520alert-info%2522%253EA%2520simple%2520info%2520alert.%21%21%253C%252Fdiv%253E%250A%253C%252Fdiv%253E"
                        sandbox="allow-scripts allow-same-origin">
                    </iframe>
                </div>
                <div class="comp-container">
                    <h2 class="comp-heading">Outline Alerts</h2>
                    <p class="comp-description">Outline alerts also has four different varaiants
                        <span>outline-success</span> , <span>outline-warning</span> , <span>outline-danger</span> ,
                        <span>outline-info</span>.Use the corresponding outline class with the alert class.</p>
                    <div class="alert-container">
                        <div class="alert outline-success">A outline success alert.!!</div>
                        <div class="alert outline-warning">A outline warning alert.!!</div>
                        <div class="alert outline-danger">A outline danger alert.!!</div>
                        <div class="alert outline-info">A outline info alert.!!</div>
                    </div>
                    <iframe class="code-snippet"
                        src="https://carbon.now.sh/embed?bg=rgba%287%2C94%2C84%2C1%29&t=night-owl&wt=none&l=htmlmixed&width=617&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=false&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=14px&lh=171%25&si=false&es=2x&wm=false&code=%253Cdiv%2520class%253D%2522alert-container%2522%253E%250A%2520%2520%253Cdiv%2520class%253D%2522alert%2520outline-success%2522%253EA%2520outline%2520success%2520alert.%21%21%253C%252Fdiv%253E%250A%2520%2520%253Cdiv%2520class%253D%2522alert%2520outline-warning%2522%253EA%2520outline%2520warning%2520alert.%21%21%253C%252Fdiv%253E%250A%2520%2520%253Cdiv%2520class%253D%2522alert%2520outline-danger%2522%253EA%2520outline%2520danger%2520alert.%21%21%253C%252Fdiv%253E%250A%2520%2520%253Cdiv%2520class%253D%2522alert%2520outline-info%2522%253EA%2520outline%2520info%2520alert.%21%21%253C%252Fdiv%253E%250A%253C%252Fdiv%253E"
                        sandbox="allow-scripts allow-same-origin">
                    </iframe>
                </div>
        </main>
    </div>
</body>

</html>